{{#>layout title="Detail Type Hero" users=users }}
<div class="p-8 overflow-auto mt-16 h-screen">
  <!-- Classes Table -->
  <div class="relative overflow-auto">
    <div class="overflow-x-auto rounded-lg">
      <table class="min-w-full bg-gray-600 border mb-20">
        <thead> 
          <tr class="bg-gray-800 dark:bg-gray-800 text-center text-xs md:text-sm font-thin text-white">
            <th class="p-0">
              <span class="block py-2 px-3 border-r border-gray-300">Type Hero</span>
            </th>
            <th class="p-4 text-xs md:text-sm">Actions</th>
          </tr>
        </thead>
        {{#each hero}}
        <tbody>
          <tr class="border-b text-xs md:text-sm text-center text-white">
           <td class="p-2 md:p-4">{{this.typehero}}</td>
            <td class="relative p-2 md:p-4 flex justify-center space-x-2">
                <div class="w-full btn-group btn-group-vertical lg:btn-group-horizontal">
              <a href="/editTypeHero/{{this.id}}" class="px-2 py-2.5 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-600 dark:bg-red-600 dark:hover:bg-red-800 dark:focus:ring-red-900">Edit Type</a>
              <form action="/deletetypehero/{{this.id}}?_method=DELETE" method="post" class="inline">
              <button onclick="deletButton()" type="submit" class="text-white  bg-red-600 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-800 dark:focus:ring-red-900">Delete</button>
              </form>
              </div>
            </td>
          </tr>
           {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/layout}}