<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Card | {{title}}</title></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          animation: {
            shine: "shine 1s",
        },
        keyframes: {
          shine: {
            "100%": { left: "125%" },
          },
        },
        }
      }
    }
  </script>
  </head>
  <body class="bg-gray-900">

    {{> navbar currentPage=title user=user}}

    {{> @partial-block }}

    <script>
          var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>"); console console.log(template({ doesWhat: "rocks!" }));
    </script>
    <script src="/assets/js/sweetalert.min.js"></script>
    <script src="/assets/js/alert.js"></script>
        {{#if messages.error}}
            <script>
                alertError('{{messages.error}}')
            </script>
        {{/if}}
        {{#if messages.success}}
            <script>
                alertSuccess('{{messages.success}}')
            </script>
        {{/if}}
  </body>
</html>